/* 
    Document   : style
    Created on : May 30, 2013, 10:15:28 PM
    Author     : andrej
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#left{
    width : 200px;
    float: left;
}

#map-canvas{
    width : 500px;
    flaot: left;
}
#views{
    width : 200px;
    float: left;
}

TABLE#mapTable TH {
    padding: 5px 30px 5px 30px;        
}

TABLE#mapTable TD {
    padding: 4px 15px 4px 15px;    
}

